on:
  push:
    tags:
      - '*'           
  workflow_dispatch:

name: CD

permissions: write-all

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          override: true
          components: rustfmt, clippy, rust-src
      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Check version in docs
        run: python3 docs/check_version_in_docs.py

      - name: Check formatting
        run: cargo fmt --check
      - name: Clippy
        run: cargo clippy --tests -- -D warnings
        
      - name: Check if the README is up to date.
        run: |
          cargo install cargo-rdme
          cargo rdme --check

      - name: Run tests
        run: cargo test

      - name: Publish crate leptos-bevy-canvas
        uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CRATES_TOKEN }}

      - uses: CSchoel/release-notes-from-changelog@v1
      - name: Create Release using GitHub CLI
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create
          -d
          -F RELEASE.md
          -t "Version $RELEASE_VERSION"
          ${GITHUB_REF#refs/*/}
